# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.file_speed_test.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\workspace\file_speed_test\.idea\.idea.file_speed_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
